<!DOCTYPE html>
<html class="no-js" lang="en">
	<%- include('../template/head')-%>
	<body>
		<!-- Left Panel -->
		<%- include('../template/sideNav')-%>
		<!-- Left Panel -->
		<!-- Right Panel -->
		<div id="right-panel" class="right-panel">
		</div>
	</body>
</html>
