<!DOCTYPE html>
<html class="no-js" lang="en">
	<%- include('../template/head')-%>
	<body>
		<!-- Left Panel -->
		<%- include('../template/sideNav')-%>
		<!-- Left Panel -->
		<!-- Right Panel -->
		<div id="right-panel" class="right-panel">			
			<div class="contents mt-5">
                <div class="card">
                    <div class="card-header">
                        <strong>토큰 재입력</strong>
                    </div>
                    <div class="card-body card-block">
                        <form id="token-form" action="/info" method="post" class="form-inline">
                            <div class="form-group col-12"><label class="pr-1 form-control-label">Token</label><input type="text" placeholder="<%= TOKEN %>" class="form-control col-4" name="token"></div>                            
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm" form="token-form">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm" form="token-form">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong>이미지 경로 재입력</strong>
                    </div>
                    <div class="card-body card-block">
                        <form id="imagePath-form" action="/info" method="post" class="form-inline">
                            <div class="form-group col-12"><label class="pr-1 form-control-label">ImagePath</label><input type="text" placeholder="<%= IMAGE_PATH %>" class="form-control col-4" name="imagePath"></div>                            
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm" form="imagePath-form">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm" form="imagePath-form">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong>최신 파일 다운로드</strong>
                    </div>
                    <div class="card-body card-block">
                        <a href="" download="">
                            <button type="button" class="btn btn-primary btn-lg active">다운로드</button>
                        </a>
                    </div>                    
                </div>                
			</div>
		</div>
		<!-- Right Panel -->
	
	</body>
</html>
