<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>ts-koa-starter</title>
	<meta name="description" content="ts-koa-starter" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/mainStyle.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<script src="vendors/jquery/dist/jquery.min.js"></script>
	<style type="text/css">/* Chart.js */
		@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
	</style>
</head>
