<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
	<head>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0 ,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no"
		/>
		<meta property="og:url" content="http://localhost:3000/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="ts-koa-starter" />
		<meta property="og:description" content="ts-koa-starter" />
		<link rel="icon" href="favicon.ico" />

		<title>ts-koa-starter</title>

		<link type="text/css" rel="stylesheet" media="all" href="./css/main.css" />
		<script type="text/javascript" src="./js/main.js"></script>
	</head>
	<body>
		<div id="doc" class="main"></div>
	</body>
</html>
