<!DOCTYPE html>
<html class="no-js" lang="en">
	<%- include('./template/head')-%>
	<body class="bg-dark">
		<div class="sufee-login d-flex align-content-center flex-wrap">
			<div class="container">
				<div class="login-content">
					<div class="login-logo">
						<a href="/">
							<img class="align-content" src="images/logo.png" />
						</a>
					</div>
					<div class="login-form">
						<form action="/info" method="POST">
							<div class="form-group">
								<label>Token</label>
								<input type="text" class="form-control" placeholder="Token" name="token" />
							</div>
							<button type="submit" class="btn btn-primary btn-flat m-b-15">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
